.history{
    width: 500px;
    border: 1px solid green;
    padding: 0px 50px 0px 50px;
    margin: 20px;
    overflow: auto;
    max-height: 250px;
    background-color: #f8f8f8;
}
.inner-box{
    overflow: auto;
}